@import url("/home/aki/.cache/wal/colors-waybar.css");

* {
    font-family: 'Recursive Sans Casual Static', 'Symbols Nerd Font', 'Recursive Mono Casual Static';
    font-size: 14px;
    border: none;
    border-radius: 0;
    color: @foreground;

}

window#waybar {
    background: @backgroundAlpha;
    border-bottom: .1rem solid @color0Alpha;
}

window#waybar.hidden {
    opacity: 0.2;
}

button {
    box-shadow: inset 0 -3px transparent;
    border: none;
    border-radius: 0;
}

button:hover {
    background: @color0;
    box-shadow: inset 0 -3px @overlay0;
}

#workspaces button {
    padding: 0 5px;
    background-color: transparent;
    color: @green;
}

#workspaces button:hover {
    background: @background;
}

#workspaces button.active {
    background-color: @background;
    box-shadow: inset 0 -3px @blue;
}

#workspaces button.urgent {
    background-color: @color6;
}

#battery {
    background-color: @color8;
    color: black;
}


#clock,
#cpu,
#memory,
#network,
#pulseaudio,
#custom-media,
#tray {
    min-width: 100px;
    padding: 0 10px;
    color: @background;
    border-radius: 0;
}

#window,
#workspaces {
    margin: 0 4px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#clock {
    color: @foreground;
    background-color: @color9;
}

#cpu {
    color: @foreground;
    background-color: @color10;
}

#memory {
    color: @foreground;
    background-color: @color2;
}

#network {
    color: @foreground;
    background-color: @color12;
}

#network.disconnected {
    background-color: @color15;
}

#pulseaudio {
    color: @foreground;
    background-color: @color13;
}

#pulseaudio.muted {
    background-color: @background;
    color: @color5;
}


#tray {
    color: @color14;
    background-color: @background;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: @background;
}

